      body {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body h1 {
  margin-bottom: 40px;
}

@media(min-width:768px) {
  .carousel-control .icon-next {
    font-size: 120px
  }
  .carousel-control .icon-prev {
    font-size: 120px
  }
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  body nav.top-nav-collapse {
    padding: 0;
  }
}
@media(max-width:768px) {
  .navbar-default .navbar-nav>li>a {
      color: #777;
      text-align: center;
  }
}

body nav.top-nav-collapse {
  padding: 0;
}

body .menu {
  padding:  0;
  box-shadow: 0 12px 12px -14px rgba(0, 0, 0, 0.6), 0 -18px 14px -14px rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.menu .navbar-nav>.active>a,
.menu .navbar-nav>.active>a:hover {
  background: none;
  color: #222;
}

.social {
  margin-top: 40px
}

body .arrowup {
  position: absolute;
  bottom: 100px;
  right: 60px;
  z-index: 100;
  background-color: #fff;
  border-radius: 50%;
  color: #222;
  vertical-align: bottom;
  font-size: 26px;
  width: 50px;
  height: 50px;
}

.carousel-caption {
  width: 100%;
  left: 0;
  bottom: 0;
  background: #222;
  position: absolute;
}

section {
  height: 100vh;
  z-index: 10;
}

.slider .item {
  position: relative;
}

.slider .fill {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.about-section {
  text-align: center;
  background: #fff;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/48/Lago_d'Orta_visto_dal_Mottarone.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  color: #ddd;
  text-shadow: 1px 1px 2px #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-section {
  text-align: center;
  background: transparent;
}

.contact-section {
  background: #95C2CF;
  background-image: url("http://static.simpledesktops.com/uploads/desktops/2010/10/18/PaperPlane.png");
  text-align: center;
  background-color: #95C2CF;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  color: #ddd;
  text-shadow: 1px 1px 2px #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-social {
  border-radius: 0;
  border: none;
  margin: 0;
  font-size: 16px;
  padding: 1% 4%;
  color: #ddd;
  display: inline-block;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.btn-angle {
  margin: 10% auto;
  font-size: 26px;
  width: 50px;
  height: 50px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 50%;
  color: #888;
  vertical-align: bottom;
}

.button-social:hover {
  color: #fff;
}

.button-github:hover {
  background-color: #171515;
  border-color: #171515;
}

.button-facebook:hover {
  background-color: #3b5998;
}
.button-paypal:hover{
  background-color: #15467A;
  border-color: #15467A;
}
.button-linkedin:hover {
  background-color: #0077B5;
  border-color: #0077B5;
}

.button-twitter:hover {
  background-color: #6CADDE;
  border-color: #6CADDE;
}

.button-google-plus:hover {
  background-color: #DC4E41;
  border-color: #DC4E41;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
  width: 100%;
  height: 100vh;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

footer {
  margin: 50px 0;
}

.page {
  margin-top: 6%
}
